on:
  push:
    branches:
      - master
  pull_request:

env:
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - uses: actions/cache@v4
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - run: npm install
      - name: build
        run: npm run build
      - uses: actions/cache/save@v4
        with:
          path: packages/**/dist
          key: dist-${{ github.sha }}

  deploy:
    needs:
      - build
    runs-on: ubuntu-latest
    if: github.ref_name == github.event.repository.default_branch
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - uses: actions/cache@v4
        with:
          path: "node_modules"
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - uses: actions/cache/restore@v4
        with:
          path: packages/**/dist
          key: dist-${{ github.sha }}
      - name: deploy
        run: npm run deploy

      - name: set secret
        run: |
          worker_name=$(jq -r ".name"  <(tail -n +3 packages/workers/wrangler.jsonc))
          curl https://${NEXUS_HOST}/.well-known/nexus-public-key | jq -jr ".public_key" | npx wrangler secret --name ${worker_name} put NEXUS_PUBLIC_KEY
        env:
          NEXUS_HOST: ${{ secrets.NEXUS_HOST }}
